.jumbotron {
  margin-top: -20px;
}
footer{
  display: flex;
}

footer > p {
  width: 500px;
  margin: auto;
}

.outer {
    width: 100%;
    height: 500px;
    background-color: #333333;
}
h1 {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: xx-large;
    color: #3399FF;
}
.inside {
    top: 30px;
    position: relative;
    height: 450px;
    background-color: #3399FF;
}
